<template>
    <GLoadingCircle
        :width="width"
        :height="height"
    >
        <p
            v-for="e in items"
            :key="e.name"
            :class="$vuetify.breakpoint.mdAndUp ? 'font--content2' : 'font--content2sm'"
        >
            <template
                v-if="e.value === -1"
            >
                <v-icon
                    color="var(--error-cp)"
                >
                    mdi-alert-circle-outline
                </v-icon>
            </template>

            <template
                v-if="e.value === 0"
            >
                <v-icon
                    color="var(--info-cp)"
                >
                    mdi-loading
                </v-icon>
            </template>

            <template
                v-if="e.value === 1"
            >
                <v-icon
                    color="var(--info-cp)"
                >
                    mdi-radiobox-blank
                </v-icon>
            </template>

            <template
                v-if="e.value === 2"
            >
                <v-icon
                    color="var(--success-cp)"
                >
                    mdi-progress-check
                </v-icon>
            </template>

            {{ e.name }}
        </p>
    </GLoadingCircle>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        /**
         * type: string. default: <empty>
         */
        width: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: <empty>
         */
        height: {
            type: String,
            default: '',
        },

        /**
         * type: string. required.
         * amount of already processed items.
         */
        items:{
            type: [] as PropType<Array<{ name: string, value: any}>>,
            required: true,
        },
    },
})
</script>

<style scoped>

</style>
