<template>
    <v-row 
        no-gutters
        style="height: 100%;"
    >
        <v-col 
            cols="12" xs="12" sm="12" md="12" lg="12" xl="12" 
            class="pa-5 pt-10 text-center" 
        >
            <h1 class="font--headline1">
                {{ $transl8.t('#::error_headline') }}
            </h1>

            <br/>

            <h4
                v-if="!!get_query_errorcode === true"
                class="font--headline4"
            >
                Error-Message: {{ this.$transl8.t('error_' + get_query_errorcode)}}
            </h4>
            <h4
                v-if="!!get_query_errorcode === true"
                class="font--headline4"
            >
                Error-Code: {{ 'error_' + get_query_errorcode }}
            </h4>
            <h4
                v-if="!!get_query_source === true"
                class="font--headline4"
            >
                Error-Source: {{ 'error_' + get_query_source }}
            </h4>

            <v-divider class="my-3"/>

            <v-avatar
                size=200
            >
                <img
                    src="~/assets/images/ladybug_400x400.jpg" 
                    alt="just a bug"
                    style="object-fit: cover;"
                />
            </v-avatar>

            <v-divider class="my-3"/>

            <NuxtLink 
                :to="get_query_redirectto || '/'" 
                class="font--headline2 black--text text-decoration-none"
            >
                {{ this.$transl8.t('#::global_navigate_back') }}
            </NuxtLink>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    computed: {
        get_query_redirectto(): string {
            return this.$route.query['r'].toString() || '/';
        },

        get_query_source(): string {
            return this.$route.query['s'].toString() || 'undefined';
        },

        get_query_errorcode(): string {
            return this.$route.query['e'].toString() || 'undefined'
        },
    },
})
</script>

<style scoped>
.img {
    height: 200px;
}
</style>
