<template>
    <v-row 
        no-gutters
        style="height: 100%;"
    >
        <v-col
            cols="12" xs="12" sm="12" md="8" lg="8" xl="8"
            class="pa-3 colleft-container text-center"
        >
            <GPopup
                ref="popup"
                v-model="popup_value"
                control_persistent
            >  
                <template slot="head">
                    Urgent security warning.
                </template>
                <template slot="body">
                    <template
                        v-if="http_check === true"
                    >
                        Reveil is not shipped via HTTPS.
                        This services is for now disabled as this might undermine your anonymity. Service will be back soon. We apologize for the inconvenience.
                    </template>
                </template>
            </GPopup>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    layout: 'splash',

    data() {
        return {
            popup_value: true,
        }
    },

    computed: {
        http_check(): boolean {
            return document.location.protocol !== 'https:'
        }
    }
})
</script>

<style scoped>

</style>
