<template>
    <div>
        <v-row justify="center" align="center">
            <v-col :sm="10" :md="10" :lg="6" class="text-left">

                <GContentRo
                    asset_identifier="p-landingpage"
                    :asset_language="$i18n.locale"
                ></GContentRo>

            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({

})
</script>

<style scoped>

</style>
