<template>
    <div class="g-connect-qr-code">
        <img :src="data_value"/>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import QrCode from '~/tsmodules/qrcode'

export default Vue.extend({
    data() {
        return {
            data_value: '',
        }
    },

    props: {
        /**
         * type: string. default: ''
         */
        data: {
            type: String,
            default: '',
        },
    },

    watch: {
        data: {
            immediate: true,
            handler: async function(nv: string, ov: string) {
                if(nv && nv !== '') {
                    this.data_value = await new QrCode().GenerateDataUrl(this.data)
                }
            },
        }
    },
})
</script>

<style scoped>
.g-connect-qr-code > img {
    width: 100%;
    height: auto;
}
</style>
