<template>
    <v-row justify="center" align="center" style="height: 100%;">
        <v-col :sm="10" :md="10" :lg="6">
            <GLoadingCircle
                color='var(--primary-cl)'
            >
                <span class="font--headline1 text-decoration-none" :style="{ color: 'var(--primary-cl)' }">
                    {{ $transl8.t('#::loading') }} ...
                </span>
            </GLoadingCircle>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    layout: 'splash',

    mounted() {
        setTimeout(() => {
            this.$router.push({ path: '/p/intro' })
        }, 2000)
    },
})
</script>

<style scoped>

</style>
