<template>
    <div
        class="mb-5 g-sitenav"
    >
        <v-row
            no-gutters
            align="center"
            
        >
            <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6" class="mb-1 text-left">
                <v-breadcrumbs
                    :items="items_value"
                    divider=">>"
                    class="ma-0 py-1"
                >
                    <template v-slot:item="{ item }">
                        <!-- BREADCRUMB with NUXT-LINK -->
                        <nuxt-link
                            v-if="item.link"
                            :to="item.link !== '' ? item.link : ''"
                        >
                            <v-breadcrumbs-item
                            >
                                <h3 style="color: var(--primary-cp)" :class="$vuetify.breakpoint.mdAndUp ? 'font--headline4' : 'font--headline4sm'">{{ $transl8.t(item.text).toUpperCase() }}</h3>
                            </v-breadcrumbs-item>
                        </nuxt-link>

                        <!-- BREADCRUMB without LINK -->
                        <v-breadcrumbs-item
                            v-else
                        >
                            <h3 style="color: var(--primary-cp)" :class="$vuetify.breakpoint.mdAndUp ? 'font--headline4' : 'font--headline4sm'">{{ $transl8.t(item.text).toUpperCase() }}</h3>
                        </v-breadcrumbs-item>
                    </template>
                </v-breadcrumbs>
            </v-col>

            <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6" class="mb-1 pr-6 text-right">
                <slot></slot>
            </v-col>
        </v-row>
    </div>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {

        }
    },

    props: {
        items: {
            type: [] as PropType<Array<{ text: string, link: string }>>,
            default: () => [],
        },
    },

    computed: {
        items_value(): Array<{ text: string, link: string }> {
            if(this.items.length !== 0) {
                return this.items;
            }

            var s = [{ text: '#::sitenav_node_root', link: '/p' }]
            var d = this.$route.path.split('/').filter((e) => e !== '').map((e: string, i: number, a) => {
                return { text: `#::sitenav_node_${e}`, link: "/" + a.slice(0, i+1).join('/') }
            })
            return s.concat(d);
        },
    }
})
</script>

<style scoped>
.g-sitenav {
    border-bottom: 1px solid var(--primary-cl);
}
</style>
