<template>
    <div
        class="g-form-tuieditor"
    >
        <TuiEditor
            ref="editor"
            :options="{
                hideModeSwitch: true,
                usageStatistics: false,
            }"
            initialEditType="wysiwyg"
            :height="height"

            @load="(e) => $emit('ev_load', e)"
            @change="ev_change"
            @caretChange="(e) => $emit('ev_caretChange', e)"
            @focus="(e) => $emit('ev_focus', e)"
            @blur="(e) => $emit('ev_blur', e)"
            @keydown="(e) => $emit('ev_keydown', e)"
            @keyup="(e) => $emit('ev_keyup', e)"
            @beforePreviewRender="(e) => $emit('ev_beforePreviewRender', e)"
            @beforeConvertWysiwygToMarkdown="(e) => $emit('ev_beforeConvertWysiwygToMarkdown', e)"
        >
        </TuiEditor>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            form: false,
            rules: [] as Array<(v: string) => string | true>,
        }
    },

    model: {
        prop: 'value',
        event: 'ev_change',
    },

    props: {
        /**
         * type: string. default: ''
         */
        value: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: 'markdown'
         */
        value_contenttype: {
            type: String,
            default: 'markdown',
        },

        /**
         * type: number. default: 100.
         */
        tabindex: {
            type: Number,
            default: 100,
        },

        /**
         * type: string. default: 280px.
         */
        height: {
            type: String,
            default: '280px',
        }
    },

    methods: {
        ev_change(d: any): void {
            if(this.value_contenttype === 'markdown') {
                this.$emit('ev_change', this.get_value_markdown);
            }
            else if(this.value_contenttype === 'html') {
                this.$emit('ev_change', this.get_value_html);
            }
        }
    },

    watch: {
        value: {
            handler(nv: string): void {
                if(this.value_contenttype === 'markdown') {
                    (this.$refs as any).editor.invoke('setMarkdown', this.value, true)
                }
                else if(this.value_contenttype === 'html') {
                    (this.$refs as any).editor.invoke('setHTML', this.value, true)
                }
            },
        },
    },

    computed: {
        get_value_html(): string {
            return (this.$refs as any).editor.invoke('getHTML')
        },

        get_value_markdown(): string {
            return (this.$refs as any).editor.invoke('getMarkdown')
        },
    },

    mounted() {
        if(this.value_contenttype === 'markdown') {
            (this.$refs as any).editor.invoke('setMarkdown', this.value, true)
        }
        else if(this.value_contenttype === 'html') {
            (this.$refs as any).editor.invoke('setHTML', this.value, true)
        }
    },
})
</script>

<style scoped>

</style>
