<template>
    <v-app-bar
        app
        absolute
        dark
        style="background: rgb(2,0,36); background: linear-gradient(210deg, rgba(2,0,36,1) 0%, rgba(25,118,210,1) 35%, rgba(100,181,246,1) 100%);"
    >
        <v-row no-gutters>
            <!-- SPACER :: LEFT -->
            <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>

            <!-- CONTENT -->
            <v-col cols="12" xs="12" sm="12" md="10" lg="8" xl="8">

                <v-row align="center">
                    <!-- CONTENT :: LEFT -->
                    <v-col cols="9" sm="9" md="9" lg="6" xl="6" class="text-left navleft-text">
                        <nuxt-link to="/p" class="navleft-text">
                            <b :class="$vuetify.breakpoint.mdAndUp ? 'font--headline1' : 'font--headline1sm'" class="my-0 py-0 navleft-text-top">
                                <GTextRo
                                    asset_identifier="layout-headline-1"
                                    asset_language="de"
                                    fallback_value="Reveil"
                                >
                                </GTextRo>
                            </b>
                            <i :class="$vuetify.breakpoint.mdAndUp ? 'font--headline3' : 'font--headline3sm'" class="my-0 py-0 navleft-text-bottom">
                                <GTextRo
                                    asset_identifier="layout-headline-2"
                                    asset_language="de"
                                    fallback_value="OpenSource Whistleblower Platform"
                                >
                                </GTextRo>
                            </i>
                        </nuxt-link>
                    </v-col>

                    <!-- CONTENT :: RIGHT -->
                    <v-col cols="3" sm="3" md="3" lg="6" xl="6" class="text-right">
                        <!-- LINK :: USER-LOGIN -->
                        <nuxt-link v-if="!is_user_or_mgmt" to="/u" class="navright-text">
                            <v-icon dense>
                                mdi-account
                            </v-icon>

                            <template
                                v-if="$vuetify.breakpoint.mdAndUp"
                            >
                                {{ $transl8.t('#::global_login').toUpperCase() }}
                            </template>
                        </nuxt-link>

                        <!-- LINK :: MGMT-SPACE -->
                        <template v-if="is_mgmt">
                            <nuxt-link to="/m" class="navright-text">
                                <v-icon dense>mdi-dots-grid</v-icon>
                                <template
                                    v-if="$vuetify.breakpoint.lgAndUp"
                                >
                                    {{ $transl8.t('#::global_area_mgmt').toUpperCase() }}
                                </template>
                            </nuxt-link>

                            <small 
                                v-if="$vuetify.breakpoint.lgAndUp"
                                class="navright-text"
                            >
                                |
                            </small>
                        </template>

                        <!-- LINK :: USER-SPACE -->
                        <template v-if="is_user">
                            <nuxt-link to="/u" class="navright-text">
                                <v-icon dense>mdi-dots-grid</v-icon>
                                <template
                                    v-if="$vuetify.breakpoint.lgAndUp"
                                >
                                    {{ $transl8.t('#::global_area_user').toUpperCase() }}
                                </template>
                            </nuxt-link>

                            <small 
                                v-if="$vuetify.breakpoint.lgAndUp"
                                class="navright-text"
                            >
                                |
                            </small>
                        </template>

                        <!-- LINK :: LOGOUT -->
                        <a v-if="is_user_or_mgmt" v-on:click="ev_logout_click" class="navright-text">
                            <v-icon dense>mdi-exit-to-app</v-icon>
                            <template
                                v-if="$vuetify.breakpoint.lgAndUp"
                            >
                                {{ $transl8.t('#::global_logout').toUpperCase() }}
                            </template>
                        </a>
                    </v-col>
                </v-row>
            </v-col>

            <!-- SPACER :: RIGHT  -->
            <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>
        </v-row>
    </v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    computed: {
        is_user_or_mgmt(): boolean {
            return this.$tsmapi.authuser().AuthUserState() !== null || this.$tsmapi.authmgmt().AuthMgmtState() !== null
        },
        is_mgmt(): boolean {
            return this.$tsmapi.authmgmt().AuthMgmtState() !== null
        },
        is_user(): boolean {
            return this.$tsmapi.authuser().AuthUserState() !== null
        },
    },

    methods: {
        ev_logout_click() {
            this.$tsmapi.authuser().AuthUserLogout()
            this.$tsmapi.authmgmt().AuthMgmtLogout()
            this.$router.push("/")
        },
    },
})
</script>

<style scoped>
.navleft-text {
    color: var(--primary-cb);
    font-size: 26px;
    font-family: 'Baloo2-Regular';
    text-decoration: none;
}
.navleft-text-top {
    display: block; 
    margin-bottom: -10px !important;
}
.navleft-text-bottom {

}

.navright-text {
    color: var(--primary-cb);
    font-size: 16px;
    font-family: 'Baloo2-Regular';
    text-decoration: none;
}
</style>
