<template>
    <div>
        <v-row justify="center">
            <v-col xs="10" sm="10" md="10" lg="10" xl="10" class="text-left">
                <v-row>
                    <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                        <v-select
                            v-model="select_identifier"
                            :items="select_items"
                            item-text="text"
                            item-value="value"
                            dense
                            prepend-icon="mdi-text"
                        >
                        </v-select>
                    </v-col>
                </v-row>
                
                <GImageRw
                    v-if="select_identifier !== ''"
                    :asset_identifier="select_identifier"
                >
                </GImageRw>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    data() {
        return {
            select_identifier: '',
        }
    },

    computed: {
        select_items() {
            return [
                { 'text': this.$transl8.t('#::global_intro'), 'value': 'intro-splash' },
            ]
        },
    },
})
</script>

<style scoped>

</style>
