<template>
    <div>
        <!-- PopUp -->
        <GPopup
            v-model="popup_login_value"
            width_xs="90%"
            width_sm="90%"
            width_md="50%"
            width_lg="40%"
            width_xl="30%"
            control_persistent
        >
            <template slot="head">
                <v-row
                    align="center"
                    justify="center"
                >
                    <v-col
                        class="text-center mb-2"
                    >
                        <h2
                            :class="$vuetify.breakpoint.mdAndUp ? 'font--headline2' : 'font--headline2sm'"
                        >
                            {{ $transl8.t('#::global_login') }} :: {{ $transl8.t('#::global_management') }}
                        </h2>
                        
                        <v-divider/>
                    </v-col>
                </v-row>
            </template>

            <template slot="body">
                <GLoginMgmt
                    v-on:ev_submit_success="$router.push({'path': '/m'})"
                >
                </GLoginMgmt>
            </template>
        </GPopup>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    data() {
        return {
            popup_login_value: true,
        }
    },
})
</script>

<style scoped>

</style>
