/* *** FONT-IMPORTS *** */
@font-face {
    font-family: 'Baloo2-Regular';
    src:  url('~/assets/fonts/Baloo2/Baloo2-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Baloo2-Medium';
    src:  url('~/assets/fonts/Baloo2/Baloo2-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Baloo2-SemiBold';
    src:  url('~/assets/fonts/Baloo2/Baloo2-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Baloo2-Bold';
    src:  url('~/assets/fonts/Baloo2/Baloo2-Bold.ttf') format('truetype');
}

/* *** FONT-PROFILES *** */
html * {
    font-family: 'Baloo2-Regular';
}
.font--headline1, .font--headline1 * {
    font-family: 'Baloo2-Regular';
    font-size: 20px;
    letter-spacing: 1.4px;
}
.font--headline1sm, .font--headline1sm * {
    font-family: 'Baloo2-Regular';
    font-size: 17px;
    letter-spacing: 1.4px;
}
.font--headline2, .font--headline2 * {
    font-family: 'Baloo2-Regular';
    font-size: 18px;
}
.font--headline2sm, .font--headline2sm * {
    font-family: 'Baloo2-Regular';
    font-size: 15px;
}
.font--headline3, .font--headline3 * {
    font-family: 'Baloo2-Regular';
    font-size: 16px;
}
.font--headline3sm, .font--headline3sm * {
    font-family: 'Baloo2-Regular';
    font-size: 13px;
}
.font--headline4, .font--headline4 * {
    font-family: 'Baloo2-Regular';
    font-size: 14px;
}
.font--headline4sm, .font--headline4sm * {
    font-family: 'Baloo2-Regular';
    font-size: 12px;
}
.font--content1, .font--content1 * {
    font-family: 'Baloo2-Regular';
    font-size: 16px;
}
.font--content1sm, .font--content1sm * {
    font-family: 'Baloo2-Regular';
    font-size: 14px;
}
.font--content2, .font--content2 * {
    font-family: 'Baloo2-Regular';
    font-size: 14px;
}
.font--content2sm, .font--content2sm * {
    font-family: 'Baloo2-Regular';
    font-size: 12px;
}
.font--content3, .font--content3 * {
    font-family: 'Baloo2-Regular';
    font-size: 12px;
}
.font--content3sm, .font--content3sm * {
    font-family: 'Baloo2-Regular';
    font-size: 10px;
}
.font--content4, .font--content4 * {
    font-family: 'Baloo2-Regular';
    font-size: 8px;
}
.font--content4sm, .font--content4sm * {
    font-family: 'Baloo2-Regular';
    font-size: 7px;
}
.font--content5, .font--content5 * {
    font-family: 'Baloo2-Regular';
    font-size: 7px;
}
.font--content5sm, .font--content5sm * {
    font-family: 'Baloo2-Regular';
    font-size: 6px;
}


.font--stylevariant1, .font--stylevariant1 * {
    font-size: 26px;
    font-family: 'Baloo2-Regular';
}
.font--stylevariant2, .font--stylevariant2 * {
    font-size: 24px;
    font-family: 'Baloo2-Regular';
}
.font--stylevariant3, .font--stylevariant3 * {
    font-size: 22px;
    font-family: 'Baloo2-Regular';
}
.font--stylevariant4, .font--stylevariant4 * {
    font-size: 20px;
    font-family: 'Baloo2-Regular';
}
.font--stylevariant5, .font--stylevariant5 * {
    font-size: 18px;
    font-family: 'Baloo2-Regular';
}
