<template>
    <div 
        class="g-chat-file-dl"
    >
        <a
            @click.prevent="get_filelink()"
        >
            <v-card
                class="pa-3"
            >
                <img
                    v-if="get_filename_full.endsWith('.jpg')"
                    style="width: 100%; height: 120px; object-fit: fill;"
                    :src="filedata"
                >

                <v-icon
                    v-else-if="get_filename_full.endsWith('.txt')"
                    size="100"
                    style="width: 100%; height: 120px; object-fit: fill;"
                >
                    mdi-format-text
                </v-icon>

                <v-icon
                    v-else-if="get_filename_full.endsWith('.json')"
                    size="100"
                    style="width: 100%; height: 120px; object-fit: fill;"
                >
                    mdi-code-json
                </v-icon>

                <v-icon
                    v-else-if="get_filename_full.endsWith('.pdf')"
                    size="100"
                    color="#f40f02"
                    style="width: 100%; height: 120px; object-fit: fill;"
                >
                    mdi-file-pdf-box
                </v-icon>

                <v-icon
                    v-else-if="get_filename_full.endsWith('.doc') || get_filename_full.endsWith('.docx') || get_filename_full.endsWith('.odt')"
                    size="100"
                    color="#2b579a"
                    style="width: 100%; height: 120px; object-fit: fill;"
                >
                    mdi-file-word-box
                </v-icon>

                <v-icon
                    v-else-if="get_filename_full.endsWith('.xls') || get_filename_full.endsWith('.xlsx') || get_filename_full.endsWith('.ods') || get_filename_full.endsWith('.csv')"
                    size="100"
                    color="#217346"
                    style="width: 100%; height: 120px; object-fit: fill;"
                >
                    mdi-file-excel-box
                </v-icon>

                <v-icon
                    v-else-if="get_filename_full.endsWith('.ppt') || get_filename_full.endsWith('.pptx') || get_filename_full.endsWith('.odp')"
                    size="100"
                    color="#d24726"
                    style="width: 100%; height: 120px; object-fit: fill;"
                >
                    mdi-file-powerpoint-box
                </v-icon>

                <v-icon
                    v-else-if="get_filename_full.endsWith('.mov') || get_filename_full.endsWith('.mpeg')  || get_filename_full.endsWith('.mp4')"
                    size="100"
                    color="#80397b"
                    style="width: 100%; height: 120px; object-fit: fill;"
                >
                    mdi-video
                </v-icon>

                <v-icon
                    v-else-if="get_filename_full.endsWith('.7z') || get_filename_full.endsWith('.rar')  || get_filename_full.endsWith('.zip')"
                    size="100"
                    style="width: 100%; height: 120px; object-fit: fill;"
                >
                    mdi-zip-box
                </v-icon>

                <v-icon
                    v-else
                    size="100"
                    style="width: 100%; height: 120px; object-fit: fill;"
                >
                    mdi-file-download
                </v-icon>

                <v-card-subtitle
                    class="text-center ma-0 pa-0"
                >
                    {{ get_filename_full }}
                </v-card-subtitle>
            </v-card>
        </a>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelFile } from '~/tsmodules/api/file/models'

export default Vue.extend({
    data() {
        return {
            filedata: '',
        }
    },  

    props: {
        /**
         * type: IModelFile. required.
         */
        file: {
            type: Object as PropType<IModelFile>,
            required: true,
        }
    },

    computed: {
        get_filename_abbr(): string {
            var abbr_len = 35;
            var abbr_orig = this.file.response.fileName || ''
            if (abbr_orig.length <= abbr_len) return abbr_orig;
            return abbr_orig.substr(0, abbr_len) + "...";
        },
        get_filename_full(): string {
            return this.file.response.fileName || ''
        }
    },

    methods: {
        get_filelink(): Promise<void> {
            return this.$tsmapi.file().FileDataGet(this.file.response.caseId || '', this.file.response.messageId || '', this.file.response.fileId || '')
            .then((e) => {
                var link = document.createElement('a');
                document.body.appendChild(link);
                link.setAttribute('download', this.get_filename_full); //or any other extension
                // link.setAttribute("type", "hidden");
                link.href = e.payload.data || '';
                link.click();
                document.body.removeChild(link);
            })
            .catch((e) => {
                // silent
            })
        },
        get_filedata(): Promise<string> {
            return this.$tsmapi.file().FileDataGet(this.file.response.caseId || '', this.file.response.messageId || '', this.file.response.fileId || '')
            .then((e) => {
                return e.payload.data || ''
            })
            .catch((e) => {
                return ''
            })
        },
    },

    async fetch() {
        this.filedata = await this.get_filedata()
        console.log(this.filedata);
    },
})
</script>

<style scoped>

</style>
