<template>
    <div class="g-chat">
        <v-timeline
            dense
            align-top
        >
            <template
                v-if="$fetchState.pending === true && (messages.length === 0 || journals.length === 0)"
            >
                <GChatLoading

                >
                </GChatLoading>
            </template>

            <template
                v-else-if="(messages.length !== 0 || journals.length !== 0)"
            >
                <template v-for="d in data">
                    <GChatMessage 
                        v-if="d.modeltype === 'message' && messages_enable === true" 
                        :case_ref="case_ref" 
                        :data="d" 
                        :key="d.id"
                    >
                    </GChatMessage>
                    <GChatJournal 
                        v-if="d.modeltype === 'journal' && journals_enable === true" 
                        :case_ref="case_ref" 
                        :data="d" 
                        :key="d.id"
                    >
                    </GChatJournal>
                </template>
            </template>

            <template
                v-if="editor_enable === true && $fetchState.pending === false"
            >
                <GChatEditor
                    v-on:ev_submit_click="ev_submit_click"
                    :case_ref="case_ref"
                >
                </GChatEditor>
            </template>
        </v-timeline>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelJournal } from '~/tsmodules/api/journal/models'
import { IModelMessage } from '~/tsmodules/api/message/models'

export default Vue.extend({
    data() {
        return {
            messages: [] as Array<IModelMessage>,
            journals: [] as Array<IModelJournal>,
        }
    },

    model: {
        prop: 'case_ref',
        event: 'ev_change',
    },

    props: {
        /**
         * type: string. required.
         */
        case_ref: {
            type: String,
            required: true,
        },

        /**
         * 
         */
        editor_enable: {
            type: Boolean,
            default: false,
        },

        /**
         * type: boolean. default: true.
         */
        messages_enable: {
            type: Boolean,
            default: true,
        },

        /**
         * type: boolean. default: false,
         */
        journals_enable: {
            type: Boolean,
            default: false,
        },
    },

    computed: {
        data(): Array<IModelMessage | IModelJournal> {
            var rtvl: Array<IModelJournal | IModelJournal> = []
            rtvl = rtvl.concat(this.messages)
            rtvl = rtvl.concat(this.journals)
            return rtvl.sort((x, y) => (x.response.creationDate! > y.response.creationDate!) ? 1 : -1)
        },
    },

    watch: {
        case_ref: {
            handler(nv: string) {
                this.fetch_data()
            }
        }
    },

    methods: {
        async ev_submit_click(data: string) {
            this.$emit('ev_change', data);
            this.fetch_data();
        },

        async fetch_data(): Promise<void> {
            if(!!this.case_ref === false) {
                return
            }

            Promise.all([
                this.$tsmapi.message().MessageGetAll(this.case_ref, true),
                this.$tsmapi.journal().JournalGetAll(this.case_ref),
            ])
            .then((e) => {
                this.messages = e[0]
                this.journals = e[1]
            })
            .catch((e) => {
                // silent
            })
        }
    },

    async fetch() {
        this.fetch_data();
    },
})
</script>

<style scoped>

</style>
