<template>
    <div class="g-chat-loading">
        <v-timeline-item
            fill-dot
            icon="mdi-loading"
        >
            <slot>
                <v-skeleton-loader
                    type="image"
                    height="120px"
                >
                </v-skeleton-loader>
            </slot>
        </v-timeline-item>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({

})
</script>

<style scoped>

</style>
